body{
    background-image:  url(../grand_universe_by_antifan_real1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    color:white;
}
.pres{
    text-align: center;
}
#who{
    border: 0.05cm solid black;
    border-radius: 0.5cm;
    text-align: left;
    background: rgba(235, 254, 255, 0.8);
    max-width: 360px;
    padding: 45px;
    font-size: 120%
}
#mission{
    border: 0.05cm solid black;
    border-radius: 0.5cm;
    background: rgba(235, 254, 255, 0.8);
    max-width: 360px;
    padding: 45px;
    font-size: 120%;
    margin-left: 35%;
    text-align: left;
}
#values{
    border: 0.05cm solid black;
    border-radius: 0.5cm;
    background: rgba(235, 254, 255, 0.8);
    max-width: 360px;
    padding: 45px;
    font-size: 120%;
    margin-left: 70%;
    text-align: left;
}
h3{
    color:white;
}
.in{
    background-color:white;
}