body{
    margin: 0;
    background-color: rgb(212, 181, 181);
}
.text{
    text-align: center;
}
.row{
    text-align: center;
}

#image{
    border: 0.1em solid black;
    border-radius: 0.5cm;
    padding: 1%;
    width: 400px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px gray;
    background-color: rgb(223, 214, 190);
}
#text{
    height: 300px;
    margin-left: 4%;
}
#submit{
    width: 80px;
    border: 0.1em solid black;
    border-radius: 0.2cm;
    padding: 8px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px gray;
    outline: none;
    margin: 1% 1% 1% 1%;
}

.inputs {
    outline: none;
    border: 0.1em solid black;
    border-radius: 0.5cm;
    padding: 1%;
    width: 400px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}
.nav{
    width:120%;
    background: rgb(44, 30, 30);
    height: 100px;
    opacity: 0.6;
  }
  
  li{
    float: left;
    margin-top: 30px;
    list-style-type: none;
  }
  a{
    width: 150px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 400%;
  }
  a:hover{
    color: gray;
  }